<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/head'); %>
  <body>
    <div class="container">
      <a href="/auth/cpid" class="logo_container">
        <img src="/assets/images/logo.svg" />Войти через ЦП ID
      </a>
    </div>
  </body>
</html>
