<!DOCTYPE html>
<html lang="ru">
<%- include('../partials/head'); %>

  <body>
    <div class="container result">
      <!-- <img src="/assets/images/logo.svg" /> -->
      <h1>Успешная авторизация через Цифровой ID</h1>
      <small>Данные аккаунта: </small>
      <pre class="result-data"><code class="json"><%= data %></code></pre>
    </div>
  </body>
  <script>
    hljs.initHighlightingOnLoad();
  </script>

</html>