<head>
  <meta name="description" content="ЦП ID Oauth2" />
  <meta charset="utf-8" />
  <title>ЦП ID Oauth2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="//unpkg.com/@highlightjs/cdn-assets@10.4.1/styles/default.min.css"
  />
  <script src="//unpkg.com/@highlightjs/cdn-assets@10.4.1/highlight.min.js"></script>
  <style>
    html,
    body {
      background-color: #ffffff;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 10px;
      color: #1b1b1b;
      display: flex;
      font-family: "Segoe UI", Arial, sans-serif;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 10rem;
    }

    .container.result img {
      width: 120px;
    }

    .container.result h1 {
      font-size: 3rem;
      text-align: center;
    }

    .container.result small {
      font-size: 2rem;
    }

    .logo_container {
      width: 380px;
      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-size: 2.6rem;
      color: #1e9adb;
      background-color: white;
      border: 1px solid #d0d0d0;
      border-radius: 0.8rem;
      cursor: pointer;
      text-decoration: none;
    }

    .logo_container img {
      max-width: 100%;
      max-height: 70%;
    }

    .hljs {
      background-color: transparent;
      font-size: 2rem;
    }

    @media screen and (max-width: 480px) {
      .container {
        padding: 6rem 1rem;
      }
    }
  </style>
</head>
